.navbar{
    display: flex;
    justify-content: space-around;
    /* padding: 5px; */
    height: 60px;
    box-shadow: 0px 1px 3px -2px black;
}
.nav-menu{
    display: flex;
    align-items: center;
}
.nav-menu:hover{
    cursor: pointer;
}
.nav-menu img{
    width: 25px;
}
.nav-logo{
    display: flex;
    margin: 0px 25px 0px 25px;
    align-items: center;
    gap: 10px;
}
.nav-logo h1{
    font-size: 24px;
    font-weight: bold;
}
.nav-cart{
    display: flex;
    align-items: center;
}
.nav-cart:hover{
    cursor: pointer;
}
.nav-cart img{
    width: 25px;
}